.jumbotron {
    background-color: transparent;
    color: greenyellow;
    
}

body {
    background-image: url("../images/spiderweb6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    max-width: 100%;
    height: auto;
}
.questions {
    color: orange
}
input[type="radio"]{
    margin: 0 10px 0 10px;
    
    
  }
  #timer{
      color: greenyellow;
      font-size: 50px;
  }
  #score{
    color: greenyellow;
   
}